html {
    height: 100%;
  }
body {
    min-height: 100%;
}

:root {
    --base: 16px;
    --heading: calc(var(--base) * 2);
    --page-spacing:15px;


    font-family: sans-serif;
    font-size: var(--base);
    margin-top:0


}
@media (min-width: 600px) {
    :root {
        --base: 20px;
        margin-top:0
    }

    html,body{
        height: 100%;
        margin-top:0;}
}

body{
    margin:0;
}

.all{
display: flex;
flex-direction: row;
justify-content: center;
height:100%;
width:100%;
margin:0;
}

.left{
background-color:rgb(255, 255, 255);
display:flex;
flex-direction: column;
justify-content: space-between;

width: 50%;
height:92.5%;

}

.time{
font-family: 'Garamound';
font-style: normal;
height:30px;

padding-right:calc(var(--page-spacing) * 4);
font-size:calc(var(--base) * 0.8) ;
font-weight: 300; 
}

.caption{
display:flex;
height:30px;

padding-top:calc(var(--page-spacing) * 2) ;
padding-left:calc(var(--page-spacing) * 4);
padding-right:calc(var(--page-spacing) * 4);
color:rgb(0, 0, 0);

}

.myreflection{
background-color: #FFF170;
display:flex;
flex-wrap:wrap;

height:100%;
width: 50%;

overflow-y: hidden;
}

.response{
font-family: 'garmound';
font-style: normal;
line-height: 120%;
padding-left:calc(var(--page-spacing) * 4);
padding-right:calc(var(--page-spacing) * 4);
padding-bottom:calc(var(--page-spacing) * 4);
margin-top:calc(var(--page-spacing) * 4);

font-size:calc(var(--base)) ;
color:rgb(0, 0, 0);
font-weight: 350;
height: 90%;
overflow-y: scroll;
}


h1{

font-size:calc(var(--base)*2);
font-style: italic;
line-height:120%;

}

@media (max-width: 600px) {
    :root {
        --base: 12px;
        margin-top:0

    }
   

    
    .all{
    display: flex;
    flex-direction: column;  
    justify-content: center; 

    overflow-x: hidden;
    }
   
    .left{
    width:100%;
    height:600px;
    }

    .myreflection{
    width:100%;
    height:600px;
    padding:0px;
    align-items: center;
    margin:0;
    }

    .title1{
    font-size:calc(var(--base) * 1.7) ;
    line-height: 140%;
    padding:calc(var(--page-spacing) * 2);
    padding-top:calc(var(--page-spacing));
    padding-bottom:calc(var(--page-spacing));

    }
    
   
    body{
        margin:0;
    }

    .myreflection{

        margin:0;
        font-size:calc(var(--base) * 1.2) ;
        width:90%;
        height: 55%;
        overflow-y: scroll;

        padding:0;
        padding-left:calc(var(--page-spacing) * 2);
        padding-bottom:calc(var(--page-spacing) * 2);
        padding-right:calc(var(--page-spacing));
        margin-top:calc(var(--page-spacing) * 2);
        margin-bottom:calc(var(--page-spacing) * 2);

    
    }

    .caption{
        justify-content: space-between;
        align-content:center;
        flex-wrap:nowrap;
        width: 120%;
        padding:calc(var(--page-spacing) * 2);
    }


     hr.solid {
        width:100%;
        margin:0;
    }
    .back{
        padding:0;
        font-size:calc(var(--base)*1.2) ;
    }
    .time{
        padding:0;
        font-size:calc(var(--base)*1.2) ;
    }

 


}