html {
    height: 100%;
  }
body {
    min-height: 100%;
}

:root {
    --base: 16px;
    --heading: calc(var(--base) * 2);
    --page-spacing:15px;


    font-family: sans-serif;
    font-size: var(--base);
    margin-top:0


}
@media (min-width: 600px) {
    :root {
        --base: 20px;
        margin-top:0
    }

    html,body{
        height: 100%;
        margin-top:0;}
}

body{
    margin:0;
}

.all{
display: flex;
flex-direction: row;
justify-content: center;
height:100%;
width:100%;
margin:0;
}

.left{
background-color:rgb(255, 255, 255);
padding-top:calc(var(--page-spacing) * 2);
padding-bottom:calc(var(--page-spacing) * 2);
display:flex;
flex-direction: column;
justify-content: space-between;

width: 50%;
height:92.5%;

}


.criticism{
background-color: rgb(48, 49, 49);
display:flex;
flex-wrap:wrap;

height:100%;
width: 50%;

overflow-y: hidden;

}

.title1{

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 500;
line-height:120%;
font-size:calc(var(--base) * 1.2) ;
color:rgb(201, 188, 66);

padding:calc(var(--page-spacing) * 4);
padding-top:calc(var(--page-spacing) * 2) ;
padding-right:calc(var(--page-spacing) * 6);
padding-bottom:calc(var(--page-spacing) * 2) ;


}

hr.solid {
    border: 1px solid rgb(201, 188, 66);
    width:100%;
    height:0;
    padding:0;

}

.context1{

font-family: 'Roboto Slab';
font-style: normal;
line-height: 150%;
padding:calc(var(--page-spacing) * 4);
padding-top: 0;
padding-right:calc(var(--page-spacing) * 6);

font-size:calc(var(--base) * 0.8) ;
color:rgb(255, 255, 255);
font-weight: 300;
height: 60%;
overflow-y: scroll;

margin-top:10px;


}
.backlink{
color:white;
}
.backlink:hover{
font-weight: 800;  
}



.back{
font-family: 'Roboto Slab';
font-style: normal;
padding-top:calc(var(--page-spacing) * 2) ;
padding-left:calc(var(--page-spacing) * 4);

font-size:calc(var(--base) * 0.8) ;
font-weight: 500; 
}



@media (max-width: 600px) {
    :root {
        --base: 12px;
        margin-top:0

    }
   

    
    .all{
    display: flex;
    flex-direction: column;  
    justify-content: center; 

    overflow-x: hidden;
    }
   
    .left{
    width:100%;
    height:600px;
    }

    .criticism{
    width:94%;
    height:600px;
    padding:40px;
    align-items: center;
    margin:0;
    }

    .title1{
    font-size:calc(var(--base) * 1.7) ;
    padding-right:50px;
    line-height: 140%;
    }
    
    hr.solid {
        width:105%;
        margin-left: -35px;
    }
    body{
        margin:0;
    }

    .context1{

        margin:0;
        font-size:calc(var(--base) * 1.1) ;
        width:80%;
        height: 65%;
        overflow-y: scroll;
    
    
    
    }



}