html {
    height: 100%;
  }
body {
    min-height: 100%;
}

:root {
    --base: 16px;
    --heading: calc(var(--base) * 2);
    --page-spacing:15px;


    font-family: sans-serif;
    font-size: var(--base);
    margin-top:0


}
@media (min-width: 600px) {
    :root {
        --base: 20px;
        margin-top:0
    }

    html,body{
        height: 100%;
        margin-top:0;}
}

body{
    margin:0;
}

.all{
display: flex;
flex-direction: row;
justify-content: center;
height:100%;
width:100%;
margin:0;
}

.left{
background-color:rgb(255, 255, 255);
padding-top:calc(var(--page-spacing) * 2);
padding-bottom:calc(var(--page-spacing) * 2);
display:flex;
flex-direction: column;
justify-content: space-between;

width: 50%;
height:92.5%;

}

.time{
font-family: 'Garamound';
font-style: normal;
height:30px;

padding-right:calc(var(--page-spacing) * 4);
font-size:calc(var(--base) * 0.8) ;
font-weight: 300; 
}

.caption{
display:flex;
height:30px;

padding-top:calc(var(--page-spacing) * 2) ;
color:rgb(0, 0, 0);

}

hr.solid {
    border: 1px solid rgb(0, 0, 0);
    width:100%;
    height:0;
}

.back{
font-family: 'Garamound';
font-style: normal;
height:30px;

padding-left:calc(var(--page-spacing) * 4);

font-size:calc(var(--base) * 0.8) ;
font-weight: 500; 
}


.backlink{
color:rgb(0, 0, 0);
}
.backlink:hover{
font-weight: 800;  
}

.history{
background-color: #E9E9E9;
display:flex;
flex-wrap:wrap;

height:100%;
width: 50%;

overflow-y: hidden;

}

.title3{

font-family: 'Garamound';
font-style: normal;
font-weight: 500;
line-height:120%;
font-size:calc(var(--base) * 2) ;
color:rgb(0, 0, 0);

padding:calc(var(--page-spacing) * 4);
padding-top:0 ;
padding-right:calc(var(--page-spacing) * 4);
padding-bottom:0;
}

.context3{

display:flex;
height: 60%;
overflow-y: scroll;    
}

.text{
font-family: 'garmound';
font-style: normal;
line-height: 120%;
padding:calc(var(--page-spacing) * 4);
padding-top: 0;
padding-right:calc(var(--page-spacing));

font-size:calc(var(--base) * 0.8) ;
color:rgb(0, 0, 0);
font-weight: 350;
width:250%;
}

.note{
position: sticky;
top:0;
left:0;
font-family: 'garmound';
font-style: normal;
line-height: 120%;
padding-right:calc(var(--page-spacing) * 2);
padding-bottom:calc(var(--page-spacing) * 2);

font-size:calc(var(--base) * 0.6) ;
color:rgb(0, 0, 0);
font-weight: 200;
}

.gif{
height:calc(var(--page-spacing) * 2);
}